
.workContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}


.title {
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.5;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 5%;
    box-shadow: 0 0 15px 10px var(--blue);
    width: 80%;
}

/* Media Break */

@media only screen and (max-width: 800px) {
    .title {
     display: flex;
    position: relative;
    left: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    }

    .title p {
        text-align: center;
        font-size: 25px;
    }



  }
