.resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: x-large;
    margin-top: 4rem;
    margin-bottom: 4rem;
  
    
}

.downloadlink{
    margin: 5%;    
}

.resumeImg {
    box-shadow: 0 0 15px 2px var(--blue);
}