:root{
    --blue: #33B9FF;
}

.contactBtn, 
.btn {
    cursor: pointer;
    display:flex;
    color: black;
    background-color: white;
    margin: 10px;
    box-shadow: 0 0 15px 2px var(--blue);
    border-radius: 10px;   
}

.contactBtn {
    font-size: 100px;
    padding: 1rem;
}

.btn {
    margin-top: 2rem;
    position: relative;
    left: 10rem;
}

.emailMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.emailMe p {
    font-weight: bold;
    font-size: xx-large;
}

.contactBtn :hover{
    box-shadow: 0 0 15px 2px white;
 }

 .contact-form {
    color: white;
    opacity: 0.5;

 }

 .form-group {
    margin: 20px;
 }

 .title {
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.5;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 4rem;
    box-shadow: 0 0 15px 2px var(--blue);
    color: black;
    font-size: xx-large;
   
}


