
:root{
    --blue: #33B9FF;
}

.devName {
    display: inline-flex;
    justify-content: center;
    box-shadow: 0 0 15px 2px var(--blue);
    margin-bottom: 5%;
    padding: 1%;
    color: var(--blue);
   
}

.devName h1 {
    opacity: 0.65;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 1%;
  
    background-image: linear-gradient(20deg, white, var(--blue), navy);
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width: 800px) {
    .devName {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
  }