:root{
    --blue: #33B9FF;
}

.navBtn h1 {
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
    font-size: larger;
    box-shadow: 0 0 15px 2px var(--blue);
    cursor:pointer;
    width: 10rem;
    text-align: center;
}


.links {
    color: black;
}

.links:hover,
 .active {
    color: var(--blu);
    box-shadow: 0 0 15px 2px white;
    transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
    .nav {
     display: flex;
     flex-direction: column;
     align-items: center; 
     margin-bottom: 2rem;
     margin-top: 2rem;
    }

    .navBar {
        display: flex;
        justify-content: center;
    }

    .navBtn h1 {
        width: 10rem;
        text-align: center;
    }
  }