:root{
    --blue: #33B9FF;
    --purple: #8A2BE2;
}

.navBtn h1 {
    background-color: white;
    opacity: 0.5;
    border-radius: 10px;
    margin: 6px;
    margin-bottom: 10px;
    padding: 3px;
    font-size: larger;
    box-shadow: 0 0 15px 2px var(--blue);
    cursor:pointer;
}


.links {
    color: black;
}

.links:hover,
 .active {
    color: var(--blu);
    box-shadow: 0 0 15px 2px var(--purple);
    transform: scale(1.2);
}