.workCard {
    display: flex;
    justify-content: center;
    margin: 5%;
    box-shadow: 0 0 15px 2px var(--blue);
}

.workCard:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 2px white;
 }

 .workInfo{
    position: absolute;
    bottom: 20px;
    left: 200px;
    text-align: center;
   
 }

 .workInfo a {
    color: white;
    font-weight: bold;
    font-size: 60px;
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
 }
